html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: inline-block;
  text-rendering: optimizeLegibility;
  color: #757575;
}

/* Global */
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}

.container-small {
  width: 60%;
}

.container-medium {
  width: 80%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.text-box {
  width: 50%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  padding-top: 10%;
  padding-bottom: 10%;
}

.tab {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffffff;
}

.tab div {
  padding: 7.5%;
}

.tab h1 {
  padding: 0 20%;
}

.card {
  text-align: left;
  vertical-align: middle;
}

.card-image {
  width: 50%;
  padding: 10% 0;
}

h1 {
  font-weight: 200;
  line-height: normal;
  font-size: 3.625rem;
}

h2 {
  font-weight: 100;
  line-height: normal;
  font-size: 2.625rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

a {
  color: #448aff;
  font-weight: inherit;
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  padding: 3%;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  color: #848484;
}

.nav-link:hover {
  color: #448aff;
}

.section-title {
  color: #444;
}

/* INDEX PAGE */
/* Showcase-1 */
#showcase-tab-1 {
  background-image: url("./portfolio/images/city.jpg");
}

#showcase-tab-1 .big-text {
  font-size: 10.875rem;
  line-height: normal;
}

/* Personal */
#personal {
  background-color: #ffffff;
}

#personal img {
  float: left;
}

#personal h2{
  padding-left: 5%;
}

#personal p {
  padding-left: 5%;
  margin-right: 20%;
}

#personal .text-box {
  float: right;
}

#personal button {
  color: #448aff;
}

/* Quote */
#quote {
  background-color: #f5f5f5;
}

#quote img {
  float: right;
}

#quote h2{
  padding-right: 5%;
  margin-left: 20%;
}

#quote p {
  padding-right: 5%;
  margin-left: 20%;
}

#quote .text-box {
  float: left;
}

/* Links */
#links {
  background-color: #ffffff;
  text-align: center;
}

#links .box {
  width: 30%;
  float: left;
  text-align: center;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 10%;
}

#links .l {
  padding-right: 5%;
}

#links .r {
  padding-left: 5%;
}

#links img {
  width: 100%;
}

#links button {
  color: #448aff;
}

/* PHILOSOPHY PAGE */
/* Showcase-2 */
#showcase-tab-2 {
  background-image: url("./portfolio/images/close_up.jpg");
}

#showcase-tab-2 .big-text {
  font-size: 4.75rem;
  line-height: normal;
}

/* Philosophy-card */
#philosophy-page .philosophy-card {
  background-color: #ffffff;
}

#philosophy-page .philosophy-card .text-box {
  float: left;
}

#philosophy-page .philosophy-card h2 {
  margin-right: 30%;
}

#philosophy-page .philosophy-card p {
  margin-top: 4%;
}

#philosophy-page .alt {
  background-color: #f5f5f5;
}

/* PROJECTS PAGE */
/* Showcase-3 */
#showcase-tab-3 {
  background-image: url("./portfolio/images/office.jpg");
}

#showcase-tab-3 .big-text {
  font-size: 4.25rem;
  line-height: normal;
}

#projects-page ul {
  padding-top: 2%;
  text-align: left;
}

#projects-page li {
  padding-left: 1%;
}

/* Roblox */
#roblox {
  background-color: #ffffff;
}

#roblox img {
  float: left;
}

#roblox h2{
  padding-left: 5%;
}

#roblox p {
  padding-left: 5%;
  margin-right: 20%;
}

#roblox .text-box {
  float: right;
}

/* Web */
#web {
  background-color: #f5f5f5;
}

#web img {
  float: right;
}

#web h2{
  padding-right: 5%;
  margin-left: 20%;
}

#web p {
  padding-right: 5%;
  margin-left: 20%;
}

#web .text-box {
  float: left;
}

/* Design */
#design {
  background-color: #ffffff;
}

#design img {
  float: left;
}

#design h2{
  padding-left: 5%;
}

#design p {
  padding-left: 5%;
  margin-right: 20%;
}

#design .text-box {
  float: right;
}

/* Footer */
.site-footer {
  text-align: center;
  background-color: #444;
  vertical-align: middle;
  color: #a3a3a3;
}

.site-footer p {
  margin: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

/* Mobile Styles */
@media only screen and (max-width: 1080px) {
  .text-box, .card-image, #links .box {
    width: 100%;
    float: none;
    padding: 0;
    text-align: center;
  }

  .card-image {
    width: 80%;
    padding: 10% 10% 5% 10%;
  }

  .text-box {
    padding: 0 10%;
    text-align: center;
  }

  .card {
    text-align: center;
  }

  .site-footer p {
    font-size: .9rem;
  }

  #quote p, #personal p, #links p, #roblox p, #web p, #design p, #quote h2, #personal h2, #links h2, #roblox h2, #web h2, #design h2 {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    font-weight: 200;
    line-height: normal;
    font-size: 2rem;
  }

  h2 {
    font-weight: 100;
    line-height: normal;
    font-size: 1.75rem;
  }

  p {
    font-weight: 300;
    line-height: normal;
    font-size: .9rem;
  }

  #showcase-tab-1 .big-text {
    font-size: 4.5rem;
    line-height: normal;
    padding: 0;
  }

  #showcase-tab-2 .big-text {
    font-size: 2.5rem;
    line-height: normal;
    padding: 0;
  }

  #showcase-tab-3 .big-text {
    font-size: 2.25rem;
    line-height: normal;
    padding: 0;
  }

  #links .l, #links .r {
    padding: 0;
  }

  #philosophy-page .philosophy-card .text-box {
    float: none;
  }

  #philosophy-page .philosophy-card h2 {
    margin-right: 0;
  }

  #philosophy-page .philosophy-card p {
    margin-top: 4%;
  }

  .container-small {
    width: 100%;
  }

  li {
    display: block;
  }

  #projects-page ul {
    text-align: center;
    padding-right: 7.5%;
  }

  #projects-page li {
    padding-left: 0;
    padding: 2% 0;
  }
}
